<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mercado liebre</title>
</head>
<body>
    <header>
        <img src=images/logo-mercado-liebre.svg
         alt="logo mercado-liebre">
        <span>Lugar para poner barra de bùsqueda</span>
        <p>Comprà en cuotas y sin tarjeta de crèdito</p>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="">Crea tu cuenta</a></li>
                <li><a href="">Ingresa</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <img src="/images/img-home-banner.jpg" alt="banner ofertas" width="100%">
        <section>
            <h4>Basado en tu ultima visita</h4>
            <article>
               <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="100%">
               <p>$6.770</p> 
               <p>40% off</p>
               <h5>Cafetera Moulinex</h5>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro" width="100%">
                <p>$230.000</p> 
                <p>20% off</p>
                <h5>Macbook Pro 2019</h5>
             </article>
             <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10" width="100%">
                <p>$70.500</p> 
                <p>10% off</p>
                <h5>Samsung Galaxy s10</h5>
             </article>
             <article>
                 <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTV Samsung 43" width="100%">
                 <p>$23.020</p> 
                 <p>5% off</p>
                 <h5>SmartTV Samsung 43"</h5>
              </article>
        </section>
        <section>
            <h4>Ofertas</h4>
            <article>
               <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="100%">
               <p>$6.770</p> 
               <p>40% off</p>
               <h5>Cafetera Moulinex</h5>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro" width="100%">
                <p>$230.000</p> 
                <p>20% off</p>
                <h5>Macbook Pro 2019</h5>
             </article>
             <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10" width="100%">
                <p>$70.500</p> 
                <p>10% off</p>
                <h5>Samsung Galaxy s10</h5>
             </article>
             <article>
                 <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTV Samsung 43" width="100%">
                 <p>$23.020</p> 
                 <p>5% off</p>
                 <h5>SmartTV Samsung 43"</h5>
              </article>
        </section>
    </main>
    <footer>
        <article>
            <h4>Paga con tarjeta o en efectivo</h4>
            <p>Con MercadoLiebreCash tenes cuotas sin
               interes con tarjeta o efectivo en puntos de
               pago.¡Y siempre es seguro!
            </p>
        </article>
        <article>
            <h4>Envio gratis desde los $2.500</h4>
            <p>Solo por estar registrado en Mercado Liebre
               tenes envios gratis en miles de productos. Es
               un beneficio de Mercado Punto.
            </p>
        </article>
        <article>
            <h4>Seguridad de priincipio a in</h4>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre
                no hay nada que no puedas hacer porque estas
                siempre protegid@.
            </p>
        </article>
        <span> Copyright © 1990-2020 MercadoLiebre S.R.L.</span>
    </footer>
</body>
</html>